<h1>Meet <%= @customer.customer_name %>!</h1>
<ul>
  <li><%= @customer.customer_name %> would prefer to find a <%= @customer.animal_type_preference %>.</li>
  <li><%= @customer.customer_name %> would specifically prefer to find a <%= @customer.breed_preference %>.</li>
  <li><%= @customer.customer_name %>'s phone number is <%= @customer.phone %>.</li>
</ul>

<p>
<a href="/">Main Page</a> -
<a href="/employees">Employee Page</a> -
<a href="/customers">Customer Page</a>
</p>
